[user]
    name = Benoît Zugmeyer
    email = XXX

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green
    changed = red
    untracked = cyan

[core]
    whitespace = space-before-tab,-indent-with-non-tab,tab-in-indent,trailing-space,cr-at-eol,tabwidth=4
    warnAmbiguousRefs = false

[alias]
    st = status -sb
    ci = !"bash -c 'git commit -t <( echo \"\n\"; git log --pretty=format:\\#\\ %\\<\\|\\(15\\)%an\\ %s -15 ) \"${@}\"' - "
    br = branch
    co = checkout
    cp = cherry-pick
    df = diff
	gerp = grep
    dfc = diff --cached
    lg = log -p -C -D
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    lolf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    ls = ls-files
    rb = pull --rebase
    svnid = !git --no-pager log --all --pretty=format:\"%H %s\" --grep
    rmd = !git status --porcelain | awk ' /^ D/ { print $2 }' | xargs git rm
    ff = merge --ff-only
    resolve = update-index
    cia = commit --amend
    rbc = rebase --continue
    cpc = cherry-pick --continue
    wdfc = diff -b -w --word-diff=color --cached --word-diff-regex='\\(|\\)|[^[:space:]()]+'
    files = show --pretty="format:" --name-only
    clean-merge-files = !find '(' -name '*_BASE_*' -o -name '*_LOCAL_*' -o -name '*_REMOTE_*' -o -name '*_BACKUP_*' -o -name '*.orig' ')' -delete
	git = !git

[rerere]
    enabled = true

[merge]
    conflictstyle = diff3
[push]
	default = simple
	followTags = true
[diff]
	algorithm = patience
	noprefix = true
[branch]
	autosetuprebase = always
[log]
	date = local
[rebase]
	autosquash = true
[tag]
	sort = version:refname
[interactive]
	singleKey = true
[pager]
    log = diff-highlight | less -S
    diff = diff-highlight | less -S
    show = diff-highlight | less -S
