[user]
    name = Benoît Zugmeyer
    email = XXX

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green
    changed = red
    untracked = cyan

[core]
    whitespace = space-before-tab,-indent-with-non-tab,tab-in-indent,trailing-space,cr-at-eol,tabwidth=4
    warnAmbiguousRefs = false
	excludesfile = ~/.gitignore
	pager = less -S

[alias]
    st = status -sb
    ci = !"bash -c 'git commit -t <( echo \"\n\"; git log --pretty=format:\\#\\ %\\<\\|\\(15\\)%an\\ %s -15 ) \"${@}\"' - "
    br = branch
    co = checkout
    cp = cherry-pick
    df = diff
    fa = fetch --all
	gerp = grep
    dfc = diff --cached
    lg = log -p -C -D
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    lolf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    ls = ls-files
    rb = pull --rebase
    svnid = "!bash -c 'git --no-pager log --all --pretty=format:\"%H %s\" --grep \"@$1\"' -- "
    rmd = !git status --porcelain | awk ' /^ D/ { print $2 }' | xargs git rm
    ff = merge --ff-only
    resolve = update-index
    cia = commit --amend
    rbc = rebase --continue
    cpc = cherry-pick --continue
    wdfc = diff -b -w --word-diff=color --cached --word-diff-regex='\\(|\\)|[^[:space:]()]+'
    files = show --pretty="format:" --name-only
    clean-merge-files = !find '(' \
        -name '*.BASE.*' \
        -o -name '*.LOCAL.*' \
        -o -name '*.REMOTE.*' \
        -o -name '*.BACKUP.*' \
        -o -name '*_BASE_*' \
        -o -name '*_LOCAL_*' \
        -o -name '*_REMOTE_*' \
        -o -name '*_BACKUP_*' \
        -o -name '*.orig' \
    ')' -delete
	git = !git
    list-branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

[rerere]
    enabled = false

[merge]
    conflictstyle = diff3
[push]
	default = simple
	followTags = true
[diff]
    compactionHeuristic = true
	algorithm = patience
	noprefix = true
[branch]
	autosetuprebase = always
[log]
	date = local
[rebase]
	autosquash = true
[tag]
	sort = version:refname
[svn]
	rmdir = true
[interactive]
	singleKey = true
[pager]
    log = /usr/share/git/diff-highlight/diff-highlight | less -S
    diff = /usr/share/git/diff-highlight/diff-highlight | less -S
    show = /usr/share/git/diff-highlight/diff-highlight | less -S
