[Unit]
Description=Awesome WM
Before=home.target
After=xrandr.service
Requires=xorg@0.socket

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin
ExecStart=/usr/bin/awesome
Restart=always
RestartSec=10

[Install]
WantedBy=home.target
